#initialization{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

html {
    font-size: 100%;
}

input, label {
    font-size: 2rem;
}

#status {
    position: absolute;
    width: auto; height: auto;
    top: 8px;
    left: 16px;
    display: none;
}

.status {
    font-size: 3rem;
}

#options {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-33%, -50%);
    transform: translate(-33%, -50%);
    height: 90%; width: 70%;
    display: none;
}

.option {
    width: 49%;
    height: 49%;
    font-size: 5rem;
}

#next {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

#finalButton {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

#finalScore {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

.next {
    padding: 3rem;
    font-size: 3rem;
}

.final {
    padding: 3rem;
    font-size: 3rem;
}

#choice0 {
    background-color: #fc223b;
}
#choice1 {
    background-color: #3894df;
}
#choice2 {
    background-color: #fec009;
}
#choice3 {
    background-color: #56b12e;
}

h1 {
    font-size: 3rem;
}

.results {
    width: 80%;
    height: auto;
    border-style: solid;
    border-width: 3px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
}

.subBox {
    width: 50%;
    height: 50px;
    margin: 0px;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 0px 1px black inset;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    float: left;
    font-size: 2rem;
}

.row {
    height: 50px;
}